*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  font-family: -apple-system,BlinkMacSystemFont,
  "Segoe UI",Roboto,Helvetica,Arial,sans-serif,
  "Apple Color Emoji","Segoe UI Emoji",
  "Segoe UI Symbol";
}

body{
  background-color:black;
  
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}

/* Home section */
.home{
  padding: 10px;
  border-bottom: 1px solid rgba(100, 100, 100);
  width:100% ;
  height: 100vh;
  background-image: url(.//imgens/tecnologia.jpg);
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  animation-delay: 5000ms;
  animation-name: ampliando;
  position: static;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.python{
  margin-left: 30px;
  margin-top: 260px;
  overflow: hidden;
}

.python a:hover{
  margin-left: 10px;
}

.react{
  margin-left: 30px;
  margin-top: 20px;
}

.react a:hover{
  margin-left: 10px;
}

.node{
  margin-left: 30px;
  margin-top: 20px;
}
.node a:hover{
  margin-left: 10px;
}

.java{
  margin-left: 30px;
  margin-top: 20px;
}

.java a:hover{
  margin-left: 10px;
}

.csharp{
  margin-left: 30px;
  margin-top: 20px;
}

.csharp a:hover{
  margin-left: 10px;
}

.html{
  float: right;
  margin-top: -260px;
  margin-right: 20px;
}

.html a:hover{
  margin-right: 10px;
}

.css{
  float: right;
  margin-top: -200px;
  margin-right: 20px;
}

.css a:hover{
  margin-right: 10px;
}

.javascript{
  float: right;
  margin-top: -150px;
  margin-right: 20px;
}
.javascript a:hover{
  margin-right: 10px;
}

.php{
  float: right;
  margin-top: -100px;
  margin-right: 20px;
}

.php a:hover{
  margin-right: 10px;
}

.sql{
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.sql a:hover{
  margin-right: 10px;
}

.midle_img{
  padding: 10px;
  width: 500px;
  height: 250px;
  font-size: 15px;
  margin:  auto;
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: 654px;
}

/*^^^^^^^^^^^^^^^^^^^arrumar^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.midle{
  padding: 10px;
  width: 300px;
  height: 250px;
  font-size: 15px;
  margin: 20px auto;
  border-bottom: 1px solid #222;
  display: absolute;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.midle2{
  display: flex;
  font-size: 20px;
  height: 480px;
  position: static;
  
}
.devMirim{
  width: 30%;
  position: static;
}
.devMirimText{
  padding: 10px;
  top: 50px;
  font-size: 15px;
  margin: auto;
  justify-content:center center ;
  color: #fff;
}
.devMirimText h2{
  display: flex;
}
.rodape{
  margin: 10px;
  bottom: 5px;
  position: relative;
  padding: 50px;
  border: 2px solid #edf567;
  font-size:20px ;
  color: #c2c2c2;
}
blockquote{
  padding: 20px;
}
.rodape p{
  text-align: center;
  padding: 10px;
}
.rodape h5{
  text-align: center;
  padding: 20px;
}
.rodape ul li {
  margin-top: 30px;
}
footer {
  width: auto;
  height: auto;
  color: #c2c2c2;
  margin: 20px;
}
footer img{
  margin-top: 50px;
  margin-left: 17%;
}

#python{
  color:#c2c2c2;
  padding: 10px;
  margin-top: 140px;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 25px;
  line-height: 30px;
}

#python h2{
  text-align: center;
}
#python h3{
  padding: 20px;
  text-align: center; 
}

.jogo_python{
  margin-top: 20px;
  width: 100%;
  height: 670px;
  border: 2px solid #edf567;
  align-items: center;
}

.codigo_python{
  margin-top: -60px;
  padding-left: 10px;
  width: 300px;
}



.escreva{
  display: block;
  padding-top: 43%;
  
}
.texto_left{
  position:relative;
  padding: 45px;
  margin-bottom: 50px;
}
 .texto_left_1 {
  width:400px;
}
.image_rigth{ 
  float: right;
  margin-right: 15px;
}
#node_js{
  color: #c2c2c2;
  margin: 20px;
  border: 2px solid #edf567;
  padding: 20px;
  width: 500px;
}
.texto_left_2{
  margin-top: 20px;
}
.initial{
  color: #c2c2c2;
}
#java{
  color: #c2c2c2;
  margin: 20px;
  border: 2px solid #edf567;
  padding: 20px;
  width: 500px;
}
