*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
  font-family: -apple-system,BlinkMacSystemFont,
  "Segoe UI",Roboto,Helvetica,Arial,sans-serif,
  "Apple Color Emoji","Segoe UI Emoji",
  "Segoe UI Symbol";
}

body{
  background-color:black; 
}

.nav{
  width: 100%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.692);
}
.home{
  padding: 10px;
  width: 100%;
  height: 100vh;
  background-image: url(.//imgens/sobre1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.logo a img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.nav div.logo{
  width: 150px;
  height: 10px;
  position: absolute;
}

.nav div.logo a{
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main-list-principal{
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.main-list-principal ul{
  width:100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main-list-principal ul li{
  width: 120px;
  height: 65px;
}

.nav div.main-list-principal ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main-list-principal ul li a:hover{
  color: #00e676;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span{
  width: 98%;
  height: 2px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #00e676;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #00e676;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #00e676;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 405deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -405deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}
.segundo_2{
  margin: 20px;
  color: #c2c2c2;
  padding: 20px;

}
.segundo_2 p{
  margin-top: 10px 30px;
}
.segundo_1_2 {
  font-size: 24.8px;
  color: #c2c2c2;
  margin: 0px 50px 100px;
}
.terceiro{
  margin: 10px 30px;
}
.imagen{
  padding: 0px 50px;
}
footer {
	text-align: center;
	background-color: rgb(10, 10, 10,0.600);
	padding: 20px;
  color: #c2c2c2;
  margin: 20px;
}
.rodape {
  margin: 10px;
  bottom: 5px;
  position: relative;
  padding: 50px;
  border: 2px solid #edf567;
  font-size: 20px;
  color: #c2c2c2;
}

.email {
  color: #edf567;
  text-decoration: none;
}

.email:hover{
  color: #00e676;
  font-size: smaller;
}

blockquote {
  padding: 20px;
}

.rodape h3 {
  text-align: center;
  padding: 10px;
}

.rodape p {
  text-align: center;
  padding: 10px;
}

.rodape h5 {
  text-align: center;
  padding: 20px;
}

.rodape ul li {
  margin-top: 30px;
}

.imagem_robox{
  border-radius: 50%;
}

.copyright {
color: #FFFFFF;
font-size: 13px;
margin: 20px 0 0;
}
footer img {
  margin: 50px;
}
 